.header{
    .logo{
        background-color: red;
    }
    .navbar{
        background-color: #fa0;
        .home{
            color: #f00;
        }
        .about{
            color: #0f0;
        }
        .contact{
            color: #f0f;
        }
    }
}